<footer class="page-footer cyan">
  <div class="page-footer container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Lorem Ipsum</h5>
        <p class="grey-text text-lighten-4">Well you know, this is just some sort of lorem ipsum. Yeah completetely useless, no shit sherlock. I'm pretty much bored and its 03:46am.</p>
      </div>
      <div class="col l3 s12 right">
        <h5 class="white-text">Ignorar.</h5>
        <ul>
          <li><a class="white-text" href="https://www.lucidchart.com/documents/embeddedchart/f726bb32-0c1a-455d-aaf6-a79f73ac10d8">Modelo. obsoleto ;)</a></li>
          <li><a class="white-text" href="https://espolec-my.sharepoint.com/personal/lhtenece_espol_edu_ec/_layouts/15/guestaccess.aspx?guestaccesstoken=VW1P1j6NJtsRnQeUppZvqbwr5s%2b6%2fLcL8oiju%2fuO1rA%3d&docid=0cc7b6ce2ad114f82b8df09531c33a44d&rev=1&expiration=2017-01-06T06%3a43%3a04.000Z"">Hmmm Nope</a></li>
          <li><a class="white-text" href="https://github.com/KanonVintage/FFTM">Best.Git.Ever.</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="https://www.facebook.com/naomi.castillo.9480?fref=ts">Valor Team</a>
    </div>
  </div>
</footer>

<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="javascripts/init.js"></script>
  <script type="text/javascript" src="javascripts/custom-script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="javascripts/plugins.min.js"></script>
  <script type="text/javascript" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.debug.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>